h1{
    text-align: center;
    text-decoration: underline;
    background-color: aquamarine;
    border: 2px solid red;
    padding: 20px;
    height: 9vh;
    margin: 1px;
}

.container{
    background-color: lightblue;
    height: 90vh;
    padding: 20px;
    margin: 1px;
    border: 2px solid black;
}
.button{
    background-color: #4CAF50; /* Green */
    border: 1px solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}